# QUIZ: NumPy and Pandas

In [3]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/xlisouski/MIT_Projects/refs/heads/main/Python_For_DS/Dateset_ODI%2B-%2BDateset_ODI.csv'
df = pd.read_csv(url)
df.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [14]:
df.isnull().sum()

Scorecard       0
Team 1          0
Team 2          0
Winner          0
Margin        179
Ground          0
Match Date      0
dtype: int64

In [16]:
df.loc[49,]

Scorecard            ODI # 50
Team 1                England
Team 2               Pakistan
Winner                England
Margin               132 runs
Ground             Manchester
Match Date    May 24-25, 1978
Name: 49, dtype: object

In [20]:
df['Ground'].loc[df['Ground']=='Devonport',].value_counts()

Ground
Devonport    1
Name: count, dtype: int64

In [21]:
df.loc[df['Ground']=='Devonport',]

     Scorecard   Team 1       Team 2   Winner   Margin     Ground   Match Date
429  ODI # 430  England  West Indies  England  29 runs  Devonport  Feb 3, 1987

In [22]:
df['Winner'].loc[df['Winner']=='Australia',].value_counts()

Winner
Australia    555
Name: count, dtype: int64

In [24]:
df.loc[df['Winner']==df['Team 2'],].count()

Scorecard     1637
Team 1        1637
Team 2        1637
Winner        1637
Margin        1635
Ground        1637
Match Date    1637
dtype: int64

# QUIZ: Visualization

In [1]:
url = 'https://raw.githubusercontent.com/xlisouski/MIT_Projects/refs/heads/main/Python_For_DS/prog_book.csv'

In [4]:
df = pd.read_csv(url)
df.head()

,Rating,Reviews,Book_title,Description,Number_Of_Pages,Type,Price
0,4.17,3829,The Elements of Style,This style manual offers practical advice on i...,105,Hardcover,9.323529
1,4.01,1406,"The Information: A History, a Theory, a Flood","James Gleick, the author of the best sellers C...",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,In Responsive Web Design Overview For Beginner...,50,Kindle Edition,11.267647
3,3.97,1658,Ghost in the Wires: My Adventures as the World...,If they were a hall of fame or shame for compu...,393,Hardcover,12.873529
4,4.06,1325,How Google Works,Both Eric Schmidt and Jonathan Rosenberg came ...,305,Kindle Edition,13.164706